<div class="container mx-auto">
    <div class="flex justify-between items-center py-4 bg-blue-900">
        <div class="flex-shrink-0 ml-10 cursor-pointer">
            <span class="ml-1 text-3xl text-blue-200 font-semibold">Shell App</span>
        </div>
        <i class="fas fa-bars fa-2x visible md:invisible mr-10 md:mr-0 text-blue-200 cursor-pointer"></i>
        <ul class="hidden md:flex overflow-x-hidden mr-10 font-semibold">
            <li class="mr-6 p-1">
                <a class="text-blue-200 cursor-default" href="#">Register Component</a>
            </li>
            <li class="mr-6 p-1">
                <a class="text-blue-200 cursor-default" href="#">Edit Layout</a>
            </li>
            <li class="mr-6 p-1">
                <a class="text-blue-200 cursor-default" href="#">Manage Pages</a>
            </li>
            <li class="mr-6 p-1">
                <a class="text-blue-200 cursor-default" href="#" (click)="onLogin()">Login</a>
            </li>
            <li class="mr-6 p-1">
                <a class="text-blue-200 cursor-default" href="#" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>